{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>
          Yaqouta Ali is a multi-talented artist, programmer, and writer hailing from the vibrant city of Islamabad. From a young age, Yaqouta had a passion for exploring the intersection between technology and creativity, leading her to study Python Programming.
        </p>
        <p>
          With a keen eye for design and a knack for problem-solving, Yaqouta found her calling in Python programming, quickly becoming a master of the language and leveraging her skills to create innovative software solutions for clients around the world. Her expertise in Python has earned her a reputation as a top-tier developer, and she is frequently sought out for her ability to translate complex technical concepts into user-friendly software interfaces.
        </p>
        <p>
          But Yaqouta's creativity doesn't stop at programming. She is also a talented artist and editor, with a unique style that blends traditional techniques with modern digital media. Her artwork has been exhibited in galleries throughout the UAE, and her design work has been featured in various publications and online platforms.
        </p>
        <p>
          In her free time, Yaqouta enjoys indulging her passion for writing by crafting insightful and engaging blog posts on a wide range of topics, from art and technology to social issues and personal growth. Her writing has been praised for its clarity, empathy, and thought-provoking insights, and she is a popular contributor to many online publications.
        </p>
        <p>
          With her diverse skills, innovative mindset, and unwavering commitment to excellence, Yaqouta Ali is a force to be reckoned with in the world of art, programming, and beyond.
        </p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}